.sidebar{
  position: fixed;
  background-color: #048243;
  left: -250px;
  width: 250px;
  color: #fff;
  height: 100vh;
  transition: all .2s ease;
  border-radius: 0 20px 20px 0;
  padding: 5px;
}
.sidebar .logo{
  margin:  5px;
  padding: 5px;
}
.sidebar .logo h1{
  padding: 5px;
  font-weight: 500;
}
.links{
  margin: 5px;
  padding: 5px;
}
.links ul{
  list-style: none;
}
.links ul li{
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
}
.links ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.links ul li a:hover{
  color: blue;
  margin: 3px;
}
#check{
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background: #fff 0.5;
  border-radius: 3px; 
}
label #btn{
  left: 40px; 
  font-size: 20px;
  color: white;
  padding: 6px 12px;
  transition: all .2s ease;
  height: 50px;
}
label #cancel{
  z-index: 111;
  left: -215px;
  top: 25px;
  font-size: 20px;
  color: #fff;
  padding: 4px 9px;
  transition: all .2s ease;
  height: 50px;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 200px;
}
.custom-btn{
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  margin-top: 50%;
}
.admin-panel{
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #048243;
  border-radius: 10px;
}
.stats-card{
  background: #fff; 
  color: #000;
  text-align: center;
  box-shadow: 2px 2px rgba(0,0,0,0.50);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  padding: 3px;
  margin: 20px;
}
.landing-page{
  top: 40px;
  background-color: #092844;  
  text-align: center;
  color: #fff;
}
.landing-page header h1{
  font-weight: bolder;
  font-size: 50px;
}
.logo{
  width: 300px; 
  border: none; 
}
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%;
}
.data-plan-card{  
  border-radius: 20px;
  border: 2px solid #fff;
  border-style: outset;
  padding: 5px;
  margin: 10px;
  width: 150px;
}
.footer-contacts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: linear-gradient(to right,#000, #fff);
  padding: 5px;
}
.contact-details{
  background: #fff;  
  color: #724706;
  padding: 5px;
  border-radius: 30px;
  border-style: outset;
}
.powered-by{
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    .sidebar{
    height: 75%;
  }
  .landing-page header h1{
    top: 50px;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px;
  }
  .data-plan-card{  
    border-radius: 20px;
    border: 2px solid #fff;
    border-style: outset;
    padding: 2px;
    margin: 5px;
    width: 100%;
  }
  .logo{
    width: 150px; 
    border: none; 
  }
}